.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

h2, h3, h4 {
  color: 	#738f66;
}

h1 {
  color: white;
  text-align: center;
  font-size: 3em;
}

p {
  text-align: center;
}

aside {
  width: 10%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

aside nav {
  display: flex;
  height: 100vh;
}

aside nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  color: 	#738f66;
  padding: 0;
  margin: auto;
  height: 30vh;
}

aside nav ul li {
  height: 30px;
  width: 100px;
  text-align: center;
}

aside nav ul li a {
  padding: 10px;
}

aside nav ul li a:hover {
  background-color:#ddd;
}

body {
  margin-left: 10%;
  background-color: 	#81c6b8;  
}

a {
  text-decoration: none;
  color:	#566b4c;
}

.block {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.25);
  height: 70vh;
  margin: 5% 5%;
  overflow-y: scroll;
  padding: 2%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.login {
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50vh !important;
  display: flex;  
  margin: auto;
  margin-top: 15%;
  flex-direction: column;
  position: relative;
}

.login > h1 {
  color: #81c6b8;
  position: absolute;
  top: 5px;
  left: 25px;
}

.MuiFormControl-root {
  margin: 10px !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul li{
  list-style: none;
  margin: 2%;
}

form {
  display: flex;
}

.active {
  background-color: #81c6b8;
  color: white;
  border-radius: 10px;
}